<div class="card__comments container">
    <h3>Comments</h3><hr>
    <% if (isAuthenticated) { %>
    <form class="post-form add-comment" action="/add-comment/<%= post._id %>" method="POST">
        <div class="form-control">
            <label for="comment">Your comment</label>
            <textarea name="comment" id="comment" rows="5"></textarea>
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button class="btn" type="submit">Publish</button>
    </form>
    <% } %>
    <div class="card__comments-list">
        <% comments.forEach(com => { %>
            <article class="card post-item">
                <header class="card__header card__flex">
                    <img src="<%= com.userId.imageUrl %>" alt="" class="card__userpic">
                    <div>
                        <h4>by <%= com.userId.name  %> </h4>
                        <h5>Submitted <%= com.createdAt.toISOString().slice(0,-5).split('T').map(item => {
                            if (item.indexOf('-') > 0) {
                              item = item.split('-').reverse().join('-');
                            }
                            else {
                                const hours = +item.slice(0,2) + 2; //real time
                                item = hours.toString() + item.slice(2)
                              }
                            return item;
                          }).join(' at ')  %></h5>
                    </div>
                </header>

                <div class="card__content">

                    <p class="post__description">
                        <%= com.comment  %> 
                    </p>
                </div>
            </article>
        <% }) %>
    </div>
</div>