<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">&#8801;</button>
    <a class="mobile-logo" href="/">MYblog</a>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
            </li>
            <% if (isAuthenticated) { %>
            <li class="main-header__item">
                <a class="<%= path === '/my-posts' ? 'active' : '' %>" href="/my-posts">My posts</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/add-posr' ? 'active' : '' %>" href="/add-post">Add post</a>
            </li>
            <% } %>
        </ul>
        <ul class="main-header__item-list">
            <% if (!isAuthenticated) { %>
            <li class="main-header__item">
                <a class="<%= path === '/login' ? 'active' : '' %>" href="/login"><div class="icon__group"><i class="fa fa-sign-in profile-icon" title="Login" aria-hidden="true"></i><div>Login</div></div></a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
            </li>
            <% } else { %>
            <li class="main-header__item">
                <a class="<%= path === '/profile' ? 'active' : '' %>" href="/profile"><div class="icon__group"><i class="fa fa-user profile-icon" title="Profile" aria-hidden="true"></i><div>Profile</div></div></a>
            </li>
            <li class="main-header__item">
                <form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <button type="submit"><div class="icon__group"><i class="fa fa-sign-out profile-icon" title="Logout" aria-hidden="true"></i><div>Logout</div></div></button>
                </form>
            </li>
            <% } %>

        </ul>
    </nav>
</header>

<nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
        </li>
        <% if (isAuthenticated) { %>
        <li class="mobile-nav__item">
            <a class="<%= path === '/my-posts' ? 'active' : '' %>" href="/my-posts">My posts</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/add-posr' ? 'active' : '' %>" href="/add-post">Add post</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/profile' ? 'active' : '' %>" href="/profile">Profile</a>
        </li>
        <li class="mobile-nav__item">
            <form action="/logout" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <button type="submit">Logout</button>
            </form>
        </li>
        <% } else { %>
        <li class="mobile-nav__item">
            <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
        </li>
        <% } %>       
    </ul>
</nav>

