
<header class="main-header">
    
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/my-posts' ? 'active' : '' %>" href="/my-posts">My posts</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/add-posr' ? 'active' : '' %>" href="/add-post">Add post</a>
            </li>
        </ul>
        <ul class="main-header__item-list">

                <li class="main-header__item">
                    <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
                </li>



        </ul>
    </nav>
</header>

