<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/card.css">
</head>

<body>
    <%- include('./includes/navigation.ejs') %>

    <main class="container">
        <h2>Welcome to MYblog</h2>
        <!-- <h2>Posts:</h2> -->
        <div class="grid">
            <% posts.map(p => { %>

                <article class="card post-item">
                    <header class="card__header card__flex">
                        <img src="<%= p.userId.imageUrl || '../images/nofoto.jpg'  %>" alt="" class="card__userpic">
                        <div>
                            <h3 class="post__title">
                                <%= p.title %>
                            </h3>
                            <h4>by <%= p.author  %> </h4>
                            <h5>Created <%= p.createdAt.toISOString().slice(0,-5).split('T').map(item => {
                                if (item.indexOf('-') > 0) {
                                  item = item.split('-').reverse().join('-');
                                }
                                else {
                                    const hours = +item.slice(0,2) + 2; //real time
                                    item = hours.toString() + item.slice(2)
                                  }
                                return item;
                              }).join(' at ') %></h5>
                        </div>
                    </header>

                    <div class="card__content">

                        <p class="post__description">
                            <%= p.text %>
                        </p>
                    </div>
                    <div class="card__actions">
                        <a href="/posts/<%= p._id %>" class="btn">View</a>

                    </div>
                </article>

            <% }) %>
        </div>
        <%- include('./includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
    </main>
    <%- include('./includes/scroll.ejs') %>
<%- include('./includes/end.ejs') %>