<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/card.css">
</head>

<body>
    <%- include('./includes/navigation.ejs') %>

    <main class="container">
        <h2>My posts:</h2>
        <div class="grid">
            <% if (posts.length > 0) { 
                    posts.map(p => { %>
                        <article class="card post-item">
                            <header class="card__header">
                                <h3 class="post__title">
                                    <%= p.title %>
                                </h3>
                            </header>
        
                            <div class="card__content">
        
                                <p class="post__description">
                                    <%= p.text %>
                                </p>
                            </div>
                            <div class="card__actions">
                                <a href="/posts/<%= p._id %>" class="btn">View</a>
                                <a href="/edit-post/<%= p._id %>" class="btn warning">Edit</a>
                                <form action="/delete-post" method="POST">
                                    <input type="hidden" value="<%= p._id %>" name="postId" >
                                    
                                    <button class="btn danger" type="submit">Delete</button>
                                </form>
        
                            </div>
                        </article>
            <% }) } else { %>
                <div> No posts found for this user</div>
            <% }  %>
            </div>
    </main>
<%- include('./includes/end.ejs') %>