<%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
</head>

<body>
   <%- include('./includes/navigation.ejs') %>

    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <% if (successMessage) { %>
            <div class="user-message user-message--success"><%= successMessage %></div>
        <% } %>
        <div class="container">
            <form class="login-form" action="/edit-profile" method="POST" novalidate>
                <h3>Edit profile</h3>
                <div class="form-control">
                    <label for="name">Name</label>
                    <input type="name"  class="<%= validationErrors.find(e => e.param === 'name') ? 'invalid' : '' %> "
                     name="name" id="name" value="<%= oldValues.name %>">
                </div>
                <div class="form-control">
                    <label for="email">E-Mail</label>
                    <input type="email"  class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %> "
                     name="email" id="email" value="<%= oldValues.email %>">
                </div>
                <div class="form-control">
                    <label for="imageUrl">User avatar (image URL)</label>
                    <input type="imageUrl"  class="<%= validationErrors.find(e => e.param === 'imageUrl') ? 'invalid' : '' %> "
                     name="imageUrl" id="imageUrl" value="<%= oldValues.imageUrl %>">
                </div>
                <div class="userpic">
                    <img class="userpic-img" src="<%= oldValues.imageUrl ? oldValues.imageUrl : '../images/nofoto.jpg' %>" alt="%= oldValues.name %> user image">
                </div>
                <div class="form-control">
                    <label for="currentPassword">Enter your password</label>
                    <input type="password" class="<%= validationErrors.find(e => e.param === 'currentPassword') ? 'invalid' : '' %> "
                     name="currentPassword" id="currentPassword" value="<%= oldValues.currentPassword %>" >
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <button class="btn warning" type="submit">Update profile</button>
                <a class="btn" href="/my-posts">Cancel</a>
            </form>

            <form class="login-form" action="/edit-password" method="POST" novalidate>
                <h3>Change password</h3>
                <div class="form-control">
                    <label for="currentPassword">Current password</label>
                    <input type="password" class="<%= validationErrors.find(e => e.param === 'currentPassword') ? 'invalid' : '' %> "
                     name="currentPassword" id="currentPassword" value="<%= oldValues.currentPassword %>" >
                </div>
                <div class="form-control">
                    <label for="password">New password</label>
                    <input type="password" class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %> "
                     name="password" id="password" value="<%= oldValues.password %>" >
                </div>
                <div class="form-control">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" class="<%= validationErrors.find(e => e.param === 'confirmPassword') ? 'invalid' : '' %> "
                     name="confirmPassword" id="confirmPassword" value="<%= oldValues.confirmPassword %>" >
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <button class="btn warning" type="submit">Update password</button>
                <a class="btn" href="/my-posts">Cancel</a>
            </form>
        </div>
    </main>
    <%- include('./includes/end.ejs') %>